<div class="list-unstyled" id="arrangementListe{{id|capitalize}}">
    {% set arrangementer_sortert = arrangementer|sort((arr1, arr2) => arr1.getStart() > arr2.getStart()) %}
    {% set reverseSort = sort is defined and sort == 'reverse' ? true : false %}
    {% for arrangement in reverseSort ? arrangementer_sortert|reverse : arrangementer_sortert %}
        <div class="clearfix mb-3" style="{{ arrangement.erFerdig() ? 'opacity: .65' }}">
            {% include "Arrangement/ListeElement.html.twig" %}
        </div>
    {% else %}
        <div>{{ omrade.getNavn() }} har ingen arrangement.</div>
    {% endfor %}

</div>