<ol class="list-unstyled">
    {% for arrangement in omrade.getArrangementer(season).getAll() %}
        <li>
            {% include "Arrangement/ListeElement.html.twig" %}
        </li>
    {% else %}
        <li>{{ omrade.getNavn() }} har ingen arrangement.</li>
    {% endfor %}
</ol>