{# <ol class="list-group">
	<li class="list-group-item" style="box-shadow: 4px 4px 5px 2px #d2cbcb;">
		<h3 class="mt-2">Hva er UKM?</h3>
		<p>
			{{ UKMDesign.getConfig('hvaerukm.kort')|raw }}
		</p>
		<p class="mt-2">
			<a href="{{ UKMDesign.getConfig('hvaerukm.lesmer') }}" class="btn btn-sm btn-outline-primary">Les mer</a>
		</p>
	</li>
</ol> #}