{% if expand is defined and expand %}
	{{ infoside.getContent()|raw}}
{% else %}
	<script>
		jQuery(document).on('click', '#infoside-les-mer', function (e) {
e.preventDefault();
jQuery('.infoside > .utdrag').hide(110);
jQuery('.infoside > .full').slideDown();
});

jQuery(document).on('click', '#infoside-les-mindre', function (e) {
e.preventDefault();
jQuery('.infoside > .full').slideUp(250);
jQuery('.infoside > .utdrag').show();
});
	</script>
	<div class="infoside">
		<div class="utdrag">{{ infoside.list_excerpt|raw }}
			{% if infoside.list_excerpt|length != infoside.getContent()|striptags|length %}
				...
				<a href="#" id="infoside-les-mer">Les mer</a>
			{% endif %}
		</div>
		<div class="full" style="display:none;">
			{{ infoside.getContent()|raw }}
			<p>
				<a href="#" class="btn btn-outline-primary btn-sm" id="infoside-les-mindre">Lukk</a>
			</p>
		</div>
	</div>
{% endif %}
