<div class="post">
	<div class="hidePost">
		{% include "Post/TopImage.html.twig" %}
		<div class="col-12">
			<h1>{{ post.title|raw }}</h1>
			<p class="lead">{{ post.lead|raw }}</p>
		</div>
	</div>
	
	<div class="col-12">
		<article>
			<div class="d-block d-md-none center" style="margin-bottom: 1em;">
				{% include "Facebook/Count.html.twig" with {'url': post.url} %}
			</div>
			<p>{{ post.content_wo_lead|raw }}</p>
		</article>
		<div class="madeby">
			<div class="row">
				<div class="col">
					{% include "Post/Authors.html.twig" %}
					<div class="float-right right my-1" style="margin-left: 1em; margin-bottom: 1em;">
						{% include "Facebook/Count.html.twig" with {'url': post.url} %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
