{% extends "Page/Fullpage.html.twig"|UKMpath %}

{% set showHero = false %}
{% set likerukm = true %}

{% block hero %}
    <h1>En møteplass for kreativ ungdom</h1>
    <h3>UKM handler om å ha det gøy gjennom å skape noe sammen.</h3>
    <div class="background-space"></div>
{% endblock %}

{% block content %}
		<div class="container hero-container">
			<div class="row">
				<div class="col-12 col-sm-10 offset-sm-1">
					<h1>Bli bedre kjent med UKM</h1>
					<h3>Les mer om all magien som skjer her hos oss</h3>
				</div>
			</div>
		</div>

	<div class="container liker-section news-section">
		<div class="col d-flex justify-content-center">
			<h4 class="line"></h4>
		</div>
		<div class="row-flex">
			<div class="col-12 mb-3">
				<div class="right">
					{% if shortcuts is defined %}
						{% for link in shortcuts.getAll() %}
							<a href="{{ link.getUrl() }}" class="mx-1 btn btn-outline-primary">
								{{ link.getTitle() }}
							</a>
						{% endfor %}
					{% endif %}
				</div>
			</div>

			{# NYHETER #}
			{% if posts is defined and posts.getAntall() > 0 %}
				<div class="col-12">
					<div class="row d-flex justify-content-center">
						{% for post in posts.getAll() %}
							<div class="col-12 d-flex justify-content-center d-block d-lg-none mt-4">
								<span class="undertitler undertitler-news">{{ post.date|dato('j. M Y') }}</span>
							</div>
							<div class="col-12 col-md-8 col-xl-6 mb-5">
								{% embed "Post:Grid-default.html.twig"|UKMpath with { post: post } %}{% endembed %}
							</div>
						{% endfor %}
					</div>
					<div class="col d-flex justify-content-center pt-5">
						<a href="{{ posts.getArchiveLink()|raw }}" type="button" class="standard-btn btn-large btn-blue d-flex justify-content-between" role="button" aria-disabled="true">
							<span>Vis mer</span>
							{% include "UKMDesign/SVG/ChevronWhite.html.twig"%}
						</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
