{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
    {# Include the Vue script here #}


	<div class="container fylke-section">
        <div id="arrangementFinderApp">
            {# Her kommer koden fra VUE app #}
            <div style="background-color: var(--color-primary-grey-extra-lightes);" class="as-container container as-card-1 as-padding-space-6 nosh-impt">

            </div>
        </div>
    </div>
{% endblock %}