{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
    {# Include the Vue script here #}


	<div class="container fylke-section">
        <div id="arrangementFinderApp">
            {# Her kommer koden fra VUE app #}
        </div>
    </div>
{% endblock %}