{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% set showHero = false %}
{% set bolgecomponent = true %}

{% block herotext %}
    <h1>Aktiviteter</h1>
    <div class="background-space"></div>
{% endblock %}

{% block content %}
    <div class="">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}