{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-10 col-sm-12 offset-1 offset-sm-0">
				<article class="text-center">
					<h1>{{ UKMDesign.getConfig('firenullfire').title }}</h1>
					<h1 class="lead">{{ UKMDesign.getConfig('firenullfire').text }}</h1>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
