{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row mt-5">
			<div class="col-10 col-sm-12 offset-1 offset-sm-0">
				<article>
					<h1>{{ UKMDesign.getConfig('firenullfire').title }}</h1>
					<p class="lead">{{ UKMDesign.getConfig('firenullfire').text }}</p>
					<p>Kanskje du kan finne det du leter etter i menyen nedenfor?</p>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
