{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
<div class="info-section mt-4">
	<div class="container">
		<div class="row">
			<div class="col">
				{# <div class="hero-text-section" style="margin-left: 0">
					<h1 class="hero-text mb-5" style="color: black; text-shadow: none; width: auto;">{{ UKMDesign.getConfig('firenullfire.title') }}</h1>
					<p class="hero-text-lead mb-5" style="color: black;">{{ UKMDesign.getConfig('firenullfire.text') }}</p>
					<p>Kanskje du kan finne det du leter etter i menyen nedenfor?</p>
					</div>
				</div> #}
				<div class="info-text-section">
					<img class="mb-4" src="https://picsum.photos/1216/500" alt="" style="max-width: 100%">
					<h1 class="article-header mb-2" style="hyphens: auto;">
						1914 translation by H. Rackham Jamilania
					</h1>
					<p class="info-text-lead">
						"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
					</p>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
					</div>
				</div>
			</div>
			{# <div class="col-12"> #}
				{# {% embed "UKMDesign/Layout/nav.html.twig" %}{% endembed %} #}
			{# </div> #}
		</div>
	</div>
</div>
{% endblock %}