{# <pre>
{{ dump(program) }}
</pre> #}

{# {% for dag in program %}
<p>a: {{ dag.date|date }}</p>
{% endfor %} #}

{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block javascripts %}
	{{ parent() }}
	<script src="//assets.{{ UKM_HOSTNAME }}/js/page/program.js" ></script>
{% endblock %}

{% block content %}

    <div class="row program-enkel-visning-header">
        {# START - Left #}
        <div class="point col-md-6">
            <div class="box-innslag ">
                <div class="timeline-point"></div>
                <div class="time">10 minutter siden</div>
                <span class="innslag-type">Media</span>
                <h4 class="title center">Sola dans!</h4>
                <span class="beskrivelse">Beskrivelse beskrivelse beskrivelse beskrivelse beskrivelse</span>
                <div class="deltakere">
                    <div class="deltaker">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                        <span>Kushtrim Aliu</span>
                    </div>
                    <div class="deltaker">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                        <span>Tom A.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="point col-md-6"></div>
        {# END - Left #}

        {# START - Right #}
        <div class="point col-md-6"></div>
        <div class="point col-md-6">
            <div class="box-innslag ">
                <div class="timeline-point"></div>
                <div class="time">Nå</div>
                <span class="innslag-type">Arrangør</span>
                <h4 class="title center">Hello World!</h4>
                <span class="beskrivelse">Beskrivelse beskrivelse beskrivelse beskrivelse beskrivelse</span>
                <div class="deltakere">
                    <div class="deltaker">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                        <span>Oxo Glomma</span>
                    </div>
                    <div class="deltaker">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                        <span>Nina Solberg</span>
                    </div>
                     <div class="deltaker">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                        <span>Nora Nordhus</span>
                    </div>
                </div>
            </div>
        </div>
        {# END - Right #}

    </div>


    <style>
        .program-enkel-visning-header {
            background: #272e48;
            padding: 100px 0;
        }
        .point {
            height: auto;
            min-height: 300px;
            padding: 30px;
            display: flex;
        }
        .point:nth-child(odd) {
            border-right: 1px dashed #4b546f;
        }
        .point:nth-child(even) {
            border-left: 1px dashed #4b546f;
        }
        .point .box-innslag {
            position: relative;
            height: auto;
            width: 100%;
            max-width: 400px;
            min-height: 100px;
            margin: auto;
            border-radius: 5px;
            background: #1a233a;
            padding: 20px;
            color: #fff;
        }
        .point .box-innslag::after {
            position: absolute;
            content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill: rgb(26, 35, 58); transform: ;msFilter:;'><path d='m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z'></path></svg>");
            height: 10px;
            width: 10px;
            top: 13px;
        }
        .point:nth-child(even) .box-innslag::after {
            left: -15px;
        }
        .point:nth-child(odd) .box-innslag::after {
            left: auto;
            right: 0;
            margin-right: -15px;
            transform: rotate(180deg);
            top: 25px;
        }
        .point:nth-child(even) .box-innslag {
            margin-left: 0;
        }
        .point:nth-child(odd) .box-innslag {
            margin-right: 0;
        }
        .point .box-innslag .timeline-point {
                height: 25px;
                width: 25px;
                background: #272e48 !important;
                position: absolute;
                top: 10px;
                left: -44px;
                border-radius: 50%;
                border: dashed 2px #4b546f;
                z-index: 1;
        }
        .point:nth-child(odd) .box-innslag .timeline-point {
            left: auto;
            right: -44px;
        }
        
        .point .box-innslag .time {
            position: absolute;
            right: -260px;
            top: 12px;
            width: 200px;
        }
        .point:nth-child(even) .box-innslag .time {
            right: auto;
            left: -260px;
            text-align: right;
        }
        .deltakere {
            margin-top: 20px;
        }
        .innslag-type {
            padding: 5px 10px;
            width: 100%;
            background: #fff;
            color: #272e48;
            border-radius: 10px;
        }
    </style>
{% endblock %}
