

{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
<div class="container festival-section news-section mt-4">
    <div class="row deltaker-publikum-main">
        <div class="col-12">
        
            <h1>Ordensregler 游둯</h1>

            <h2>1. Stille kl  ** </h2>
            <p>Det skal v칝re stille i soveomr친dene kl</p>

            <h2>2. M칮t opp n친r du skal</h2>
            <p>Alle m친 m칮te presis til pr칮ver, forestillinger og arrangementer.</p>

            <h2>3. Ingen rusmidler</h2>
            <p>Bruk av rusmidler er forbudt, og medf칮rer hjemsendelse for egen regning.</p>

            <h2>4. V칝r god mot hverandre</h2>
            <p>Respekt, toleranse og mangfold skal prege festivalen. Det skal v칝re rom for ulike meninger, livssyn og v칝rem친ter, og alle skal f칮le seg trygge.</p>

        </div>
    </div>
</div>
{% endblock %}

