{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
<div class="container festival-section news-section mt-4">
    <div class="row deltaker-publikum-main">
        <div class="col-12">

            <h1>Sjekkliste før festivalen!<h1>

            <h2>1.  Kontakt fylkeskontakten din hvis du...</h2>
            ... har behov for tilrettelegging 
            ... har allergi 
            ... ikke har mulighet til å være med på hele festivalen 
            
            
            <h2>2.  Har du reiseforsikring?</h2>
            Uhell kan også skje på festival, og da er det lurt å ha forsikret deg og utstyret ditt. Hvis 
            du er usikker på om du har forsikring, spør dine foresatte! 
            
            <h2>3.  Pakkeliste</h2>
            For å gjøre det litt enklere for deg har vi laget en pakkeliste du kan bruke! 
            
            
            <h1>PAKKELISTE UKM FESTIVALEN 2022</h1>
            Gå inn på ukm.no og se hva du vil være med på av aktiviteter og workshops (bading, 
            morgentrening osv.), og ta med klær og utstyr som trengs for dette. 
            
            <h3>ALLE DELTAKERE</h3>
            <ol>
                <li>Håndkle </li>
                <li>Dusjsåpe, Shampo osv. </li>
                <li>Vannflaske  </li>
                <li>Badetøy (hvis du vil bade)  </li>
                <li>Liggeunderlag  </li>
                <li>Sovepose  </li>
                <li>Toalettsaker  </li>
                <li>Lader  </li>
                <li>Solkrem </li>
                <li>Gode sko  </li>
                <li>Klær til redesign (hvis ønskelig)  </li>
                <li>Treningsklær (hvis du vil være med på morgentrening)  </li>
                <li>Se på værmelding før du drar (STJØRDAL)  </li>
                <li>Klær som gir uttrykk for hvem du er!*</li>
            </ol>
            *Siste kvelden skal vi ha temakveld, der kommer vi til å vise litt resultater fra workshops osv. 
            Det vil eksempel være drag og cosplay, så her er det bare kreativiteten som setter grenser! 
            Ta for eksempel med klær som gir uttrykk for hvem du er.  
            
            <h3>SKAL PÅ SCENEN</h3>
            <ol>
                <li>Instrument / annet utstyr til opptreden </li>
                <li>Rekvisitter / kostyme</li>
                <li>Playback eller andre filer som er nødvendig for innslaget ditt</li>
            </ol>
            <h3>MEDIA</h3>
            <ol>
                <li>ALLE: svarte eller mørke klær (uten mønster).</li>
                <li>Hvis du vil jobbe i redaksjonen (ikke flerkamera): Ta med det du har av utstyr, som 
                    f.eks. pc, kamera og diverse fotoutstyr. Dette får du oppbevart trygt på festivalen.</li>  
            </ol>                
            
            <h3>ARRANGØR</h3>
            <ol>
                <li>Gode sko!</li>   
                <li>Scenearbeidere må ha svarte klær</li>    
                <li>PC om du har</li>  
            </ol>                
            
            <h3>KUNSTDELTAKER</h3>
            <ol>
                <li>Klær som tåler malingssøl</li>
                <li>Det du trenger til porteføljevisning</li>
            </ol>                
            
            <h3>ER KONFERANSIER</h3>
            <ol>
                <li>Et outfit som er typisk for ditt hjemsted (Eks.: Trysil --> afterski) 
            </ol>                
           
            <h3>TEKNIKERE</h3>
            <ol>
                <li>Vernesko hvis du har</li>  
            </ol>    
        </div>
    </div>
</div>
{% endblock %}

