{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
<div class="container festival-section news-section mt-4">
    <div class="row deltaker-publikum-main">
        <div class="col-12">
            <h1>Informasjon for deltakere på UKM-festivalen</h1>
        </div>
        <div class="col-12 question-box-festivalen">
            <div class="boxes row">
                <a href="/festivalen/deltaker-sjekkliste/" class="col-6 box">
                    <div class="inner">
                        <h2 class="title">Viktig info før festivalen</h2>
                        <p class="beskrivelse">Allergi, tilrettelegging, forsikring, pakkeliste m.m. ⚠️ </p>
                    </div>
                </a>
                
                <a href="/festivalen/hva-skal-vi-gjore/" class="col-6 box">
                    <div class="inner">
                        <h2 class="title">Program</h2>
                        <p class="beskrivelse">Alt du kan få med deg i løpet av festivalen! 😍</p>
                    </div>
                </a>

                <a href="/festivalen/deltakerordensregler/" class="col-6 box">
                    <div class="inner">
                        <h2 class="title">Ordensregler</h2>
                        <p class="beskrivelse">Hvis man følger reglene, blir det en god festival for alle 🖤</p>
                    </div>
                </a>
                
                <a href="/festivalen/kontakt-info/" class="col-6 box">
                    <div class="inner">
                        <h2 class="title">Kontaktinfo</h2>
                        <p class="beskrivelse">Kontaktpersoner i ditt fylke og festival-ledelsen 📞</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>

<style>
    #UKMheader {
        visibility: hidden;
        display: none;
    }
    .question-box-festivalen .boxes {

    }
    .question-box-festivalen .boxes .box .inner:hover {
        background: linear-gradient(45deg, hsl(var(--color-primary-blue-800, var(--color-primary-orange-900))), hsl(var(--color-primary-blue-600, var(--color-primary-orange-900)))) !important;
    }
    .question-box-festivalen .boxes .box .inner:hover .title,
    .question-box-festivalen .boxes .box .inner:hover .beskrivelse {
        color: #fff;
    }
    .question-box-festivalen .boxes .box {
        margin-top: 30px;
        margin-bottom: 30px;
        text-decoration: none !important;
    }
    .question-box-festivalen .boxes .box:nth-child(odd) {
        padding-right: 30px;
    }
    .question-box-festivalen .boxes .box:nth-child(even) {
        padding-left: 30px;
    }
    .question-box-festivalen .boxes .box .inner {
        padding: 30px;
        border-radius: 10px;
        box-shadow: -1px 1px 5px 1px #0000003d;
    }
    .question-box-festivalen .boxes .box .inner .title,
    .question-box-festivalen .boxes .box .inner .beskrivelse {
        margin: 0;
    }
    .question-box-festivalen .boxes .box .inner .beskrivelse {
        margin-top: 10px;
    }
</style>
{% endblock %}

