<div class="row">
	<div class="col-12">
		<div class="row d-flex justify-content-center">
			{% for post in posts.getAll() %}
				<div class="col-12 d-flex justify-content-center d-block d-lg-none mt-4">
					<span class="undertitler undertitler-news">{{ post.date|dato('j. M Y') }}</span>
				</div>
				<div class="col-12 col-md-8 col-xl-6 mb-5">
					{% embed "Post:Grid-default.html.twig"|UKMpath with { post: post } %}{% endembed %}
				</div>
			{% else %}
				{% if hideNoneFound is not defined %}
					<div class="col-12">
						Ingen artikler i denne kategorien.
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>