{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
	{% if category is defined %}
		<div class="container">
			<h1 class="undertitler undertitler-news">{{ category.name }}</h1>
			<p class="center">{{ category.description|raw }}</p>
		</div>
	{% endif %}
	<div class="container category-page">
		{% embed "Kategori:Listen.html.twig"|UKMpath %}{% endembed %}
		{# {% embed "Kategori:Pagination.html.twig"|UKMpath %}{% endembed %} #}
	</div>
	{% embed "Kategori:Pagination.html.twig"|UKMpath %}{% endembed %}
{% endblock %}