<div class="row">			
	{% for post in posts.getAll() %}
		<div class="col-xs-12 col-xl-6">
			{% embed "Post:Grid-default.html.twig"|UKMpath %}{% endembed %}
		</div>
	{% else %}
		{% if hideNoneFound is not defined %}
			<div class="col-12">
				Ingen artikler i denne kategorien.
			</div>
		{% endif %}
	{% endfor %}
</div>