{% if omrade.getKommendeArrangementer().getAntall() > 0 %}
	<h3 class="mb-3 mt-0">Ting som skjer
		<small>(etter UKM lokalt)</small>
	</h3>
	{% include "Front/Part/ArrangementListe.html.twig" with {arrangementer: omrade.getKommendeArrangementer().getAll()} %}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
{% endif %}
{% if omrade.getTidligereArrangementer().getAntall() > 0 %}
	<h3 class="mb-3 mt-0">Tidligere arrangement</h3>
	{% include "Front/Part/ArrangementListe.html.twig" with {arrangementer: omrade.getTidligereArrangementer().getAll() } %}
	<div class="clearfix"></div>
	{% if omrade.getTidligereArrangementer().getAll()|filter(arrangement => arrangement.erRegistrert() and arrangement.erSynlig() and arrangement.getSesong() > 2019 )|length > 3 %}
		<a id="collapse">Vis flere</a>
	{% endif %}
	<div class="mb-5"></div>
{% endif %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('ol.list-unstyled li:gt(3)').hide();
			$("#collapse").click(function () {
				$("#collapse").text(($("#collapse").text() == 'Vis færre') ? 'Vis flere' : 'Vis færre', $('ol.list-unstyled li:gt(3)').slideToggle( "slow" ));
			})
		});
	</script>
{% endblock %}
