{% if omrade.getKommendeArrangementer().getAntall() > 0 %}
	<h3 class="mb-3 mt-0">Ting som skjer
		<small>(etter UKM lokalt)</small>
	</h3>
	{% include "Front/Part/ArrangementListe.html.twig" with {arrangementer: omrade.getKommendeArrangementer().getAll()} %}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
{% endif %}
{% if omrade.getTidligereArrangementer().getAntall() > 0 %}
	<h3 class="mb-3 mt-0">Tidligere arrangement</h3>
	{% include "Front/Part/ArrangementListe.html.twig" with {arrangementer: omrade.getTidligereArrangementer().getAll() } %}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
{% endif %}
