<p class="geolocation">
    Vi klarte ikke å hente info om UKM der du bor fra posisjonen din. Kan det være fordi du ikke har delt lokasjonen med oss?
</p>
<p>
    <a href="/derdubor/" class="btn btn-outline-light btn-sm">Velg fylke</a>
</p>