{% set omrade = kommune is defined ? kommune : fylke %}
<a href="{{omrade.url}}" class="linkWithin">
    <img src="//assets.ukm.dev/img/location.svg" />&nbsp;&nbsp;
    <span>Gå til UKM <span id="derdubor" style="font-weight: 600">{{omrade.navn}}</span></span>
</a>