<section class="section fullpage white waypoint" data-photo-background-transition="#000000" style="background-color: #00508C;" data-photo-background="https://grafikk.ukm.no/forside/newdawn.jpg">
	<div class="fullpage-content" style="display: flex;">
		<div class="container sitemap mt-5">
			<div class="row pageContainer">
				{% for fylke in fylker %}
					<div class="col-12 col-sm-6 col-lg-4">
						<div class="page p-2 px-4 m-2 center white" style="background: rgba(0,0,0,.3);">
							<a href="{{ fylke.getLink() }}" class="autoshrink">{{ fylke.getNavn() }}</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>