{# Mobile devices #}
<div class="container d-block d-lg-none mb-5">
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="ukm-card ukm-card-front">
				{% include "Norge/Front/Components/Card-element.html.twig" with { img: 'mennesker.svg" alt="mennesker"', title: 'Er UKM for meg?', link: '/hvorfor/', content: 'Hør Rolf, Maria og Endre fortelle om sine opplevelser fra UKM' } %}
				{% include "Norge/Front/Components/Card-element.html.twig" with { img: 'rakett.svg" alt="rakett"', title: 'Hva skjer på UKM?', link: '/hva-er/', content: 'UKM tilbyr mye sosialt og moro uansett om du deltar eller ser på.'} %}
				{% include "Norge/Front/Components/Card-element.html.twig" with { img: 'kalender.svg" alt="kalender"', title: 'Arrangementer nær meg?', link: '/derdubor/', content: 'Hvordan du melder deg på UKM eller finner venners bidrag.'} %}
				<div class="d-md-none col-md-3 mt-4">
					{% include "Norge/Front/Components/Some-icon-section.html.twig" %}
				</div>
			</div>
		</div>
		<div class="d-none d-md-block d-lg-none col-md-4">
			<div class="ukm-card ukm-card-front">
				<div class="col d-flex justify-content-center">
					<span class="message-content">Følg oss på sosiale medier</span>
				</div>
				{% include "Norge/Front/Components/Some-carousel.html.twig" %}
			</div>
		</div>
	</div>
</div>
{# Desktop #}
<div class="container card-info-section d-none d-lg-block">
	<div class="row" style="height: 25.5rem;">
		<div class="col-10 offset-1">
			<div class="row">
				{% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: 'mennesker.svg" alt="mennesker"', title: 'Er UKM for meg?', link: '/hvorfor/', content: 'Hør Rolf, Maria og Endre fortelle om sine opplevelser fra UKM' } %}
				{% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: 'rakett.svg" alt="rakett"', title: 'Hva skjer på UKM?', link: '/hva-er/', content: 'UKM tilbyr mye sosialt og moro uansett om du deltar eller ser på.'} %}
				{% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: 'kalender.svg" alt="kalender"', title: 'Arrangementer nær meg?', link: '/derdubor/', content: 'Hvordan du melder deg på UKM eller finner venners bidrag.'} %}
			</div>
		</div>
	</div>
</div>

{# Section med sosiale medier #}
<div class="container d-none d-lg-block">
    <div class="row some-title">
        <div class="col d-flex justify-content-center">
            <span>Følg oss på sosiale medier</span>
        </div>
    </div>
    <div class="row">
        {# Some-carousel #}
        {% include "Norge/Front/Components/Some-carousel.html.twig" %}
    </div>
</div>