<div class="container-fluid contact-section">
    <div class="start">
        <div class="row mt-4">
            <div class="col d-flex justify-content-center">
                <span class="undertitler" style="">Kom i gang</span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
            {% include "Norge/Front/Components/Button-location.html.twig" %}
            </div>
        </div>
    </div>
</div>