<div class="container filter-section">
    <div class="row">
        <div class="mt-5 mb-3 col d-flex justify-content-center">
            <span class="undertitler undertitler-news">Skreddersy innholdet etter ditt behov</span>
        </div>
    </div>
    <div class="row">
        <div class="col  d-flex justify-content-center">
            {% include "TestOrganisasjonen/Components/Button-filter.html.twig" with { path: '', title: 'Alt innhold'} %}
            {% include "TestOrganisasjonen/Components/Button-filter.html.twig" with { path: '', title: 'For næringslivet'} %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col  d-flex justify-content-center">
            {% include "TestOrganisasjonen/Components/Button-filter.html.twig" with { path: '', title: 'Foresatt'} %}
            {% include "TestOrganisasjonen/Components/Button-filter.html.twig" with { path: '', title: 'Politiker'} %}
            {% include "TestOrganisasjonen/Components/Button-filter.html.twig" with { path: '', title: 'Presse'} %}
        </div>
    </div>
</div>
