<div class="container">
    <div class="row">
        <div class="mt-5 mb-3 col d-flex justify-content-center">
            <span class="undertitler undertitler-news">Hvem er vi</span>
        </div>
    </div> 
</div>

{# Mobile devices #}
<div class="container d-block d-lg-none mb-5">
	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<div class="ukm-card ukm-card-front">
				{% include "Norge/Front/Components/Card-element.html.twig" with { img: '', title: 'Kultur mot utenforskap', content: 'Hva UKM er samt enkle tips til å få ungdommen interessert i UKM' } %}
				{% include "Norge/Front/Components/Card-element.html.twig" with { img: '', title: 'Talent-utvikling', content: 'Sikkerhet og personvernregler rundt UKM arrangementer'} %}
				{% include "Norge/Front/Components/Card-element.html.twig" with { img: '', title: 'Kultur for folkehelsa', content: 'Finn praktisk informasjon og hjelp noen å melde seg på UKM'} %}
				{% include "Norge/Front/Components/Card-element.html.twig" with { img: '', title: 'Ungdom driver utviklingen', content: 'Finn praktisk informasjon og hjelp noen å melde seg på UKM'} %}
			</div>
		</div>
	</div>
</div>
{# Desktop #}
<div class="container card-info-section d-none d-lg-block">
	<div class="row" style="height: 25.5rem;">
		<div class="col-10 offset-1">
			<div class="row">
				{% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: '', title: 'Kultur mot utenforskap', content: 'Hva UKM er samt enkle tips til å få ungdommen interessert i UKM' } %}
				{% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: '', title: 'Talent-utvikling', content: 'Sikkerhet og personvernregler rundt UKM arrangementer'} %}
				{% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: '', title: 'Kultur for folkehelsa', content: 'Finn praktisk informasjon og hjelp noen å melde seg på UKM'} %}
				{% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: '', title: 'Ungdom driver utviklingen', content: 'Finn praktisk informasjon og hjelp noen å melde seg på UKM'} %}
			</div>
		</div>
	</div>
</div>
</div>