<div class="container">
	<div class="row">
		<div class="mt-5 mb-3 col d-flex justify-content-center">
			<span class="undertitler undertitler-news">Hvem er vi</span>
		</div>
	</div>
</div>

{# Mobile devices #}
<div class="container d-block d-lg-none mb-5">
	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<div class="ukm-card ukm-card-front">
				{% include "TestOrganisasjonen/Components/Card-element.html.twig" with { link: 'https://bak.ukm.no/hvorfor/utenforskap/', img: '', title: 'Kultur mot utenforskap', content: 'Les om hvordan UKM bidrar i kampen mot utenforskap' , extra: 'pt-4'} %}
				{% include "TestOrganisasjonen/Components/Card-element.html.twig" with { link: 'https://bak.ukm.no/hvorfor/talentfabrikk/', img: '', title: 'Talent-utvikling', content: 'Hos UKM får alle sjansen til å vise, og noen ganger finne og blomstre, sitt talent', extra: 'pt-4'} %}
				{% include "TestOrganisasjonen/Components/Card-element.html.twig" with { link: 'https://bak.ukm.no/hvorfor/folkehelse/' , img: '', title: 'Kultur for folkehelsa', content: 'Betydningen av kunst og kultur til ungdommens helse', extra: 'pt-4'} %}
				{% include "TestOrganisasjonen/Components/Card-element.html.twig" with { link: 'https://bak.ukm.no/hvorfor/samfunnsutvikling/', img: '', title: 'Ungdom driver utviklingen', content: 'Les om hvordan UKM kan motivere dagens unge til å skape sin egen fremtid', extra: 'py-4'} %}
			</div>
		</div>
	</div>
</div>
{# Desktop #}
<div class="container card-info-section d-none d-lg-block">
	<div class="row" style="height: 25.5rem;">
		{# <div class="col-10 offset-1"> #}
		<div class="col-12">
			<div class="row">
				{% include "TestOrganisasjonen/Components/Card-element-desktop.html.twig" with { link: 'https://bak.ukm.no/hvorfor/utenforskap/', img: '', title: 'Kultur mot utenforskap', content: 'Les om hvordan UKM bidrar i kampen mot utenforskap' } %}
				{% include "TestOrganisasjonen/Components/Card-element-desktop.html.twig" with { link: 'https://bak.ukm.no/hvorfor/talentfabrikk/', img: '', title: 'Talent-utvikling', content: 'Hos UKM får alle sjansen til å vise, og noen ganger finne og blomstre, sitt talent'} %}
				{% include "TestOrganisasjonen/Components/Card-element-desktop.html.twig" with { link: 'https://bak.ukm.no/hvorfor/folkehelse/' , img: '', title: 'Kultur for folkehelsa', content: 'Betydningen av kunst og kultur til ungdommens helse'} %}
				{% include "TestOrganisasjonen/Components/Card-element-desktop.html.twig" with { link: 'https://bak.ukm.no/hvorfor/samfunnsutvikling/', img: '', title: 'Ungdom driver utviklingen', content: 'Les om hvordan UKM kan motivere dagens unge til å skape sin egen fremtid'} %}
			</div>
		</div>
	</div>
</div>
