<div class="presse container project-section mb-5">
	<div class="row">
		<div class="mt-5 mb-3 col d-flex justify-content-center">
			<span class="undertitler undertitler-news">Prosjekter</span>
		</div>
	</div>
	<div class="row">
		{# <div class="col-12">
			<a class="">
				<div class="row card-element card-element-end p-0">
					<img class="card-image" src="//assets.{{ UKM_HOSTNAME }}/img/norcup.png"/>
				</div>
			</a>
		</div> #}
		<div class="col-12">
			<div class="row">
				<a class="col-12" href="https://norcup.ukm.no/">
					<div class="card-component row card-element px-0">
						<div class="col">
							<h5 class="message-title">Norgescupen</h5>
							<span class="message-content">Norgescupen er UKM sin e-sportsatsing for bredden, og ikke for eliten. Vi ønsker å få med oss flest mulig som synes det er moro å spille på lag…  <b style="color:hsl(var(--color-primary-orange-500))">Les mer</b></span>
						</div>
					</div>
				</a>
				<a class="col-12" href="https://bak.ukm.no/prosjekter/stimuleringsmidler/">
					<div class="card-component row card-element px-0">
						<div class="col">
							<h5 class=" message-title">Stimuleringsmidler</h5>
							<span class="message-content">Hvert år setter UKM Norge av 2 millioner som går videre til lokale initiativ over hele landet. Disse tiltakene skal ikke erstatte driftsbudsjett… <b style="color:hsl(var(--color-primary-orange-500))">Les mer</b></span>
						</div>
					</div>
				</a>
				<a class="col-12" href="https://bak.ukm.no/prosjekter/festivalen/">
					<div class="card-component row card-element px-0">
						<div class="col">
							<h5 class=" message-title">Festivalen</h5>
							<span class="message-content">Hvert år setter UKM Norge av penger som kommunene kan søke om, som tilskudd til aktiviteter for og/eller med ungdom. Disse aktivitetene skal ikke...  <b style="color:hsl(var(--color-primary-orange-500))">Les mer</b></span>
						</div>
					</div>
				</a>
				<a class="col-12" href="https://bak.ukm.no/prosjekter/moteplass-datakultur/">
					<div class="card-component row card-element px-0">
						<div class="col">
							<h5 class=" message-title">Møteplass datakultur</h5>
							<span class="message-content">UKM har i samarbeid med Ungdom og Fritid, Tverga og KANDU, et prosjekt vi kaller «Møteplass datakultur». I en underveisrapport (link til rapporten)… <b style="color:hsl(var(--color-primary-orange-500))">Les mer</b></span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
