<div class="prs container mb-5" data-category="prs">
	<div class="row">
		<div class="mt-5 mb-3 col d-flex justify-content-center">
			<span class="undertitler undertitler-news">UKM samarbeider med</span>
		</div>
	</div>
	<div class="row">
		<div class="col collab-col">
			<ul class="list-group some-list-group">
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'kulturtanken', link:'https://www.kulturtanken.no/', img:'kulturtanken.png' } %}
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'kulturskoleradet', link:'https://www.kulturskoleradet.no/', img:'kulturskoleradet.jpeg' } %}
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'ungdomogfritid', link:'https://www.ungdomogfritid.no/', img:'ungdom-og-fritid.png', extra: 'width: 448px' } %}
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'noku', link:'https://www.noku.no/', img:'noku.png' } %}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col collab-col">
			<ul class="list-group some-list-group">
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'tverga', link:'https://tverga.no/', img:'tverga.png' } %}
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'kandu', link:'https://www.kandu.no/', img:'kandu.png' } %}
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'n4f', link:'https://n4f.no/', img:'n4f.png' } %}		
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'ks', link:'https://www.ks.no/fagomrader/barn-og-unge/kultur/', img:'ks.svg' } %}	
				{% include "TestOrganisasjonen/Components/Rolling-card.html.twig" with { name: 'kulturradet', link:'https://www.kulturradet.no/', img:'kulturradet.svg' } %}				
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col d-flex justify-content-center">
			{% include "Norge/Front/Components/Standard-button.html.twig" with {title: 'Mer om vårt samarbeid', path: 'https://bak.ukm.no/samarbeidspartnere/intensjonsavtalen/', extra: 'btn-black my-5'} %}
		</div>
	</div>
</div>
