{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
<div class="container festival-section mt-4">
    <div class="row deltaker-publikum-main">
        <div class="col-12">
            <h1 class="festival-header-title hero-text">Er du deltaker på UKM-festivalen 2023?</h1>
        </div>
        <div class="col-12 question-box-festivalen">
            <div class="buttons">
                <div class="inner">
                    <a href="/festivalen/deltaker-info/" class="standard-btn festival-style btn-large d-flex justify-content-between btn-blue mt-2">Ja, jeg er deltaker ></a>
                </div>

                <div class="inner">
                    <a href="/festivalen/andre-deltakere/" class="standard-btn festival-style btn-large d-flex justify-content-between btn-blue mt-2">Nei, jeg er foresatt/annet ></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="nyheterIFestivalen" class="container">
    {% if posts.getAll()|filter(post => post.categories|filter(cat => cat.slug == 'pa-forsiden')|length > 0 )|length %}
    <h1>Nyheter</h1>
    {% endif %}
    <div class="news-section mt-4">
        <div class="row d-flex justify-content-center">
        {% for post in posts.getAll() %}
            {% set riktigCat = false %}
            {% for cat in post.categories %}
                {% if cat.slug == 'pa-forsiden' %}
                    {% set riktigCat = true %}
                {% endif %}
            {% endfor %}
            {% if riktigCat %}
            <div class="col-12 d-flex justify-content-center d-block d-lg-none mt-4">
                <span class="undertitler undertitler-news">{{ post.date|dato('j. M Y') }}</span>
            </div>
            <div class="col-12 col-md-8 col-xl-6 mb-5">
                {% embed "Post:Grid-default.html.twig"|UKMpath with { post: post } %}{% endembed %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

<div class="container prev-year-festival">
    <div class="col-12 question-box-festivalen">
        <div class="buttons">
            <div class="inner">
                <a href="/festivalen/for-festivalen/" class="standard-btn festival-style btn-large btn-xs d-flex justify-content-between btn-blue mt-2">
                    Viktig informasjon
                </a>
                <a class="standard-btn festival-style btn-large btn-xs d-flex justify-content-between btn-blue mt-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    UKM-festivalen 2022
                </a>
            </div>
        </div>
    </div>

    <div class="collapse col-xs-12" id="collapseExample">
        <div style="padding-bottom:36.25%; position:relative; display:block; width: 80%; margin-left: auto; margin-right: auto;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/mZaM-GQ1kVQ?rel=0&showinfo=0&modestbranding=1&hd=1&autohide=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute; top:0; left: 0"></iframe>
        </div>
    </div>


</div>

<style>
    #UKMheader, #festivalHeader {
        visibility: hidden;
        display: none;
    }
    #nyheterIFestivalen {
        margin-top: 200px;
    }
    .prev-year-festival {
        margin-top: 200px;
    }
    
    @media (max-width: 992px) {
        .artikkel-beskrivelse-festivalen {
            margin-top: 15px;
        }
        #nyheterIFestivalen {
            margin-top: 100px;
        }
    }
    
</style>
{% endblock %}

