{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
<div class="container festival-section mt-4">
    <div class="row deltaker-publikum-main">
        <div class="col-12">
            <h1 class="festival-header-title hero-text">Er du deltaker på UKM-festivalen 2022?</h1>
        </div>
        <div class="col-12 question-box-festivalen">
            <div class="buttons">
                <div class="inner">
                    <a href="/festivalen/deltaker-info/" class="standard-btn festival-style btn-large d-flex justify-content-between btn-blue mt-2">Ja, jeg er deltaker ></a>
                </div>

                <div class="inner">
                    <a href="/festivalen/andre-deltakere/" class="standard-btn festival-style btn-large d-flex justify-content-between btn-blue mt-2">Nei, jeg er foresatt/annet ></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="nyheterIFestivalen" class="container">
    <h1>Nyheter</h1>
    <div class="news-section mt-4">
        <div class="row d-flex justify-content-center">
        {% for post in posts.getAll() %}
            <div class="col-12 d-flex justify-content-center d-block d-lg-none mt-4">
                <span class="undertitler undertitler-news">{{ post.date|dato('j. M Y') }}</span>
            </div>
            <div class="col-12 col-md-8 col-xl-6 mb-5">
            {% set riktigCat = false %}
            {% for cat in post.categories %}
                {% if cat.slug == 'pa-forsiden' %}
                    {% set riktigCat = true %}
                {% endif %}
            {% endfor %}
            {% if riktigCat %}
                {% embed "Post:Grid-default.html.twig"|UKMpath with { post: post } %}{% endembed %}
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<style>
    #UKMheader, #festivalHeader {
        visibility: hidden;
        display: none;
    }
    #nyheterIFestivalen {
        margin-top: 100px;
    }
    
    @media (max-width: 992px) {
        .artikkel-beskrivelse-festivalen {
            margin-top: 15px;
        }
    }
    
</style>
{% endblock %}

