{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block css %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Generell informasjon
                    </button>
                </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h3>Tid og sted</h3>
                    <p>
                        Festivalen arrangeres i Trondheim sentrum fra fredag 23. juni (ankomst og oppstart) til tirsdag 27. juni (hjemreisedag). Festivalarena er Olavskvartalet på dagtid mens landsbyen blir lagt til Trondheim Spektrum (tidligere Nidarøhallen).
                    </p>

                    <h3>Innhold</h3>

                    <p>
                        Sceneforestillinger, kunstutstilling, verksteder, medieproduksjon, LAN, kurs og stands, småkonserter, talkshow, sosiale aktiviteter, ung til ung læring.
                    </p>

                    <h3>Aldersgrense</h3>

                    <p>
                        13 – 20 år, men alt av program er tilpasset 15 – 20 år og vi anbefaler fylkene å tilstrebe å sende eldre deltakere. I kategoriene konferansier, arrangør og media er nedre grense 15 år.
                    </p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Kvoter og videresending
                    </button>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h3>Antall fylker<h3>

                    <p>
                    Vi benytter fortsatt de 19 gamle fylkene ved tildeling av kvoter, forutsatt at det fortsatt eksisterer et lokalt og regionalt UKM‐arbeid som tilsier det. Dvs. enten at det er adskilt eller av et noenlunde tilsvarende omfang som før sammenslåing.
                    </p>

                    <h3>Videresending og nominasjon</h3>

                    <p>
                    Det skilles mellom direkte videresending i noen kategorier, og nominasjon i andre. Årsaken til at det benyttes nominasjon er at det skal være mulig å sette sammen funksjonelle grupper av deltakere og dermed gi ungdommene meningsfylte og inspirerende opplevelser. Fylkene står helt fritt til hvordan de velger ut ungdommer til videresending og nominasjon. Det er ikke et krav om at det må avholdes en tradisjonell «totrinnsrakett» (lokalmønstring, fylkesmønstring), men alle må legges inn i UKMs påmeldingssystem.
                    </p>

                    <h3>Frister</h3>

                    <p>
                    Systemet for videresending og nominasjon åpner 1.mars. Vi er glade for alt som kommer inn tidlig, og vil ha en kontinuerlig behandling av nominasjoner, slik at dere får raske avklaringer. Absolutt siste frist for nominasjoner er 10.mai, mens siste frist for direkte videresending er 20. mai. Etter denne dato låses systemet, og kun supplering av detaljer er mulig.
                    </p>
                    
                    <h3>Dialog med deltakere</h3>
                    <p>
                    Dialogen mellom UKM Norge og den enkelte deltaker skal i størst mulig grad gå via fylkeskontakten for å sikre at
                    </p>
                    <p>
                    informasjon og avtaler blir fulgt opp av alle parter. Deltakere og foresatte må informeres om at de skal forholde seg til fylkeskontakt, og ikke ta direkte kontakt med UKM Norge for å forhandle om fritak eller diskutere spesielle behov.
                    </p>
                </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Deltakelse
                    </button>
                </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <h3>Premiss for deltakelse</h3>
                    <p>
                    Festivalen er en helhetsopplevelse hvor det forventes at alle bidrar til fellesskapet gjennom å delta fra start til slutt.
                    </p>

                    <p>
                    Fylkene skal derfor avklare med sine deltakere at de kan og vil være med på hele festivalen, og kontrahere dette gjennom et samtykkeskjema. Dersom deltakere ikke kan delta fra start til slutt skal tilbudet gå til en annen ungdom. I spesielle tilfeller kan det gis dispensasjon fra dette, men da kun etter skriftlig avtale med UKM Norge.
                    </p>

                    <h3>Inkludering og universell utforming</h3>

                    <p>
                    UKM‐festivalen skal være en trygg, åpen og inkluderende møteplass for all ungdom. Uavhengig av funksjonsnivå,
                    </p>

                    <p>
                    legning, bakgrunn og spesielle behov. UKM Norge vil legge til rette for spesialtilpasninger, ledsagere, og annet som er nødvendig for en god festivalopplevelse.
                    </p>
                </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ansvarsfordeling" aria-expanded="false" aria-controls="ansvarsfordeling">
                        Ansvarsfordeling med fylkene
                    </button>
                </h5>
                </div>
                <div id="ansvarsfordeling" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <h3>Kostnader</h3>
                    
                    <p>
                    Fylkene betaler en deltakeravgift på kr. 1 000,‐ pr. person (deltakere og ledere), samt en egenandel på reise på kr. 2 000,‐. Dette gir en forutsigbar kostnad på kr. 3 000 totalt pr. person.
                    </p>

                    <h3>Solidarisk reisefordeling</h3>

                    <p>
                    Det skal være like muligheter for deltakelse uansett hvor i landet man bor. Derfor benyttes det en solidarisk reisefordeling. Fylker som har brukt mindre enn kr. 2 000 pr. reisende må betale inn differansen, mens fylker som har brukt mer enn kr. 2 000,‐ pr. reisende vil få tilbakeført differansen, forutsatt at reisen har skjedd på billigste praktiske måte.
                    </p>

                    <p>
                    For de fleste fylker vil billigste praktiske måte være med buss eller tog, men fylker med lang reisevei kan benytte fly. Fylkeskontakten må da utnytte alle tilgjengelige muligheter for å få ned prisen gjennom f.eks. gruppebestillinger, ungdomsbilletter og tidlige reservasjoner. Dersom dette ikke gjøres, kan refusjonen fra UKM Norge bli avkortet.
                    </p>

                    <h3>Ledere på festivalen</h3>

                    <p>
                    Fylkene skal sende minimum 2 ledere til festivalen. Dersom fylket har mer enn 20 deltakere skal det være 3 ledere, og disse skal bo sammen med deltakerne i landsbyen. Dersom fylket ønsker å kunne rullere litt på ansvar og overnatting er det rom for å sende flere ledere. Lederne skal ha politiattest og være godt skikket til arbeidet. Egen lederinstruks sendes ut.
                    </p>
                </div>
                </div>
            </div>
           
            <div class="card">
                <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#kvoter" aria-expanded="false" aria-controls="kvoter">
                        Kvoter
                    </button>
                </h5>
                </div>
                <div id="kvoter" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <h3>Kvotesystemet er firedelt:</h3>
                        <ol>
                            <li>
                                Hvert fylke kan sende maksimalt 30 deltakere.
                            </li>
                            <li>
                                Effektiv scenetid på hovedscene kan ikke overstige 25 minutter.
                            </li>
                            <li>
                                Antall innslag og/eller personer innen hver kategori har et tak.
                            </li>
                            <li>
                                Det er ønskelig at alle fylker forsøker å bidra med ungdommer i flest mulige kategorier og sjangere.
                            </li>
                        </ol>

                        <p>
                        Det er viktig at alle fylker holder seg innenfor gjeldende kvoter for videresending av innslag og deltakere, da dette er en forutsetning for at vi skal klare å gi alle en god opplevelse. Punkt nummer 4 gjenspeiler UKMs ambisjon om å samle og synliggjøre et så bredt spekter av ungdomskultur som mulig, og vi håper derfor at fylkene gjør et forsøk på å realisere dette. Deltakere i kategoriene konferansier, media arrangør og datakultur vil bli satt sammen i team på tvers av kategoriene, så her er det rom for skjønn når det gjelder hvor de skal nomineres.
                        </p>

                        <h3>TYPE Maksantall Eksempler Metode</h3>

                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Maksantall</th>
                                <th scope="col">Eksempler</th>
                                <th scope="col">Metode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Sceneinnslag</th>
                                    <td>
                                        5 grupperinger<br><br>
                                        5 minutter pr. innslag på hovedscene
                                    </td>
                                    <td>Musikk, dans, teater, sirkus, litteratur, standup. (Vi tilbyr husband og akkompagnatør)</td>
                                    <td>Videresending</td>
                                </tr>
                                <tr>
                                    <th scope="row">Film/levende bilder</th>
                                    <td>
                                        2 innslag<br><br>
                                        5 minutter pr. film på hovedscene, men lengre filmer kan vises andre steder på festivalen.
                                    </td>
                                    <td>Spillefilm, dokumentar, skjermdump fra dataspill animasjon, Live game‐visning.</td>
                                    <td>Videresending</td>
                                </tr>
                                <tr>
                                    <th scope="row">Visuell Kunst</th>
                                    <td>
                                        4 kunstverk<br><br>
                                        (Serier av bilder regnes som ett verk)
                                    </td>
                                    <td>Maleri, foto, skulptur, installasjon</td>
                                    <td>Videresending</td>
                                </tr>
                                <tr>
                                    <th scope="row">Konferansierer / programleder</th>
                                    <td>2</td>
                                    <td>Scene/studio/reporter</td>
                                    <td>Nomineres</td>
                                </tr>
                                <tr>
                                    <th scope="row">Arrangører</th>
                                    <td>3</td>
                                    <td>Lyd/lystekniker, stage‐hand, produsent, backstage‐ansvarlig, sekretariatsperson, runner</td>
                                    <td>Nomineres</td>
                                </tr>
                                <tr>
                                    <th scope="row">Media</th>
                                    <td>Her har vi behov for mange gode deltakere, og tett dialog er stikkordet for å finne en god løsning for alle parter. La oss utvikle dette feltet sammen!</td>
                                    <td>Filmfotograf, fotograf, journalist, TV‐regi, videoredigerer, fotoredigerer, reporter, SOME‐ansvarlig</td>
                                    <td>Nomineres</td>
                                </tr>
                                <tr>
                                    <th scope="row">Datakultur</th>
                                    <td>2</td>
                                    <td>Gamer, LAN-arrangør, caster, spillutvikler, teknikker, esport utøver, etc.</td>
                                    <td>Nomineres</td>
                                </tr>
                            </tbody>
                        </table>

                        <span><b>OBS 1:</b> <i>Det er ikke anledning til å sende innslag uten deltakere (f.eks. bilder eller filmer).</i></span><br>
                        <span><b>OBS 2:</b> <i>Det er alltid mulig å kontakte UKM Norge for å diskutere utvidelser eller tilpasning av kvoter.</i></span>

                    </div>
                </div>
            </div>

        </div>

	</div>

<style>
    .card-header {
        padding: 0;
    }
    .btn.btn-link {
        width: 100%;
        text-align: left;
        padding: 20px;
        text-decoration: none;
        color: hsl(var(--color-primary-blue-800));
        border-radius: 0;
    }
    .btn.btn-link:hover {
        box-shadow: 0 0.5rem 0.9375rem rgb(0 0 0 / 20%);
        background: hsl(var(--color-primary-blue-800));
        color: #fff;
    }
    .card {
        margin-top: -2px;
        border-radius: 0;
    }
</style>
{% endblock %}
