{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% block content %}
<div class="container festival-section mt-4">
        {% embed "Kategori/Listen.html.twig"|UKMpath %}{% endembed %}
</div>
{% endblock %}