{% extends "Norge/Front/Layout.html.twig"|UKMpath %}

{% block content %}
    <div class="hamburger-overlay show"></div>
    {# Geolocation #}
    {% include "Norge/Front/Components/Geolocation.html.twig" %}

    {# Hero-section #}
    {% include "Norge/Front/Components/Hero.html.twig" %}

    {# Section 1 - Card info #}
    {% include "Norge/Front/Components/Card.html.twig" %}

    {# Section 2 - Testimonials #}
    {% include "Norge/Front/Components/Testimonial.html.twig" %}

    {# Section 3 - Tidligere arrangementer #}
    {% include "Norge/Front/Components/Tidligere_arrangementer.html.twig" %}

    {# Section 4 - Nyheter #}
    {% include "Norge/Front/Components/Nyheter.html.twig" %}

    {# Section 5 - Siste nytt #}
    {# {% include "Norge/Front/Components/Siste_nytt.html.twig" %} #}

    {# Section 6 - Contact-info #}
    {% include "Norge/Front/Components/Contact.html.twig" %}

    {# Section 7 - Footer #}
    {% include "Norge/Front/Components/Footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        if (last_location != '') {
            $(document).ready(function(){
                $(document).trigger(
                    'fetchLocalizedInfo',
                    [
                        {{last_location.kommunenummer}},
                        {{last_location.fylkesnummer}},
                        '{{last_location.kommunenavn}}'
                    ]
                )
            });
        }
    </script>
{% endblock %}