{% extends "UKMDesign/Layout/framework.html.twig"|UKMpath %}

{% block css %}
	{{parent()}}
{% endblock %}

{% block framework_content %}

	{# SITEMAP #}
	<div
		class="container-fluid" id="UKMDesign_sitemap" style="display:none;">
		{% block sectionNav %}{% endblock %}
		{% embed "UKMDesign/Layout/nav.html.twig"|UKMpath with {'hidden': true} %}{% endembed %}
	</div>

	{# CONTENT #}
	<div id="UKMDesign_content">
		{% block content %}Designfil mangler content-block.{% endblock %}
	</div>

	{# FOOTER #}
	{% embed "UKMDesign/Layout/footer.html.twig"|UKMpath %}{% endembed %}
{% endblock %}