{% extends "Norge/Front/Fullpage.html.twig"|UKMpath %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
		$(document).ready(()=>{
			UKMfullpage( '#fullpage', ['pamelding', 'om', 'fylker']);
		});
	</script>
{% endblock %}
{% block framework_content %}
	<div id="fullpage">
		<section class="section fullpage white waypoint" data-photo-background-transition="#000000" style="background-color: #00508C;" data-photo-background="https://grafikk.ukm.no/forside/superstition-color.jpg">
			<div class="fullpage-content">
				<div class="meny">
					<a href="/hovedmeny/" class="btn btn-sm my-2 btn-outline-primary">MENY</a>
				</div>
				<div class="logo">
					<img src="https://grafikk.ukm.no/profil/logoer/UKM_logo_hvit_0100.png" />
				</div>
				<header class="white" style="z-index: 100">
					<h1 class="border autoshrink">
						{% if pamelding_apen %}
							<a href="/derdubor/">START PÅMELDING</a>
						{% else %}
							PÅMELDING STARTER
							<br />
							1. NOVEMBER
						{% endif %}
					</h1>
					<div class="header-more" style="margin-top: 5vh;">
						<p>
							<a href="#om/2">Hva er UKM?</a>
							| 
							<a href="#fylker/3">Finn nærmeste UKM</a>
						</p>

						<div class="readmoreIcon">
							<a href="#om/2" style="text-decoration: none"><span class="icon icon-down-2"></span></a>
						</div>
					</div>
				</header>
			</div>
		</section>
		{% include "Norge/Front/Section/Hvaer.html.twig" %}
		{% include "Norge/Front/Section/Fylker.html.twig" %}
	</div>	
{% endblock %}