{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% set showHero = true %}

{% block hero %}
    <h1>En møteplass for kreativ ungdom</h1>
    <h3>UKM handler om å ha det gøy gjennom å skape noe sammen.</h3>
    <div class="background-space"></div>
{% endblock %}

{% block hero_cta %}
    <div class="front-buttons">
        {% include "Norge/Front/Components/Standard-button.html.twig" with {title: 'Finn UKM der du bor', path: '/derdubor/', extra: 'btn-blue mt-2'} %}
        {% include "Norge/Front/Components/Button-secondary.html.twig" %}
    </div>
{% endblock %}

{% block content %}
    {% include "Norge/Front/Section/HvaEr.html.twig" %}
    {% include "Norge/Front/Section/Testimonial.html.twig" %}
    {#% include "Norge/Front/Section/TV.html.twig" %#}
    {% include "Norge/Front/Section/Nyheter.html.twig" %}
    {# {% include "Norge/Front/Section/NyheterLokalt.html.twig" %} #}
    {% include "Norge/Front/Section/Contact.html.twig" %}
    {# {% include "Norge/Front/Section/Komigang.html.twig" %} #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//assets.{{ UKM_HOSTNAME }}/js/page/front/testimonials.js"> </script>
{% endblock %}