{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% set showHero = true %}

{% block hero %}
    <h1>En møteplass for kreativ ungdom</h1>
    <h3>UKM handler om å ha det gøy gjennom å skape noe sammen.</h3>
    <div class="background-space"></div>
{% endblock %}

{% block hero_cta %}
    <div class="front-buttons">
        {% include "Norge/Front/Components/Standard-button.html.twig" with {title: 'Skal du delta på UKM?', path: '/arrangement-finder/', extra: 'btn-blue mt-2'} %}
        {% include "Norge/Front/Components/Standard-button.html.twig" with {title: 'Finn UKM der du bor', path: '/derdubor/', extra: 'btn-blue empty-style mt-2'} %}
        {# {% include "Norge/Front/Components/Standard-button.html.twig" with {title: 'UKM-festivalen 2023', path: '/festivalen/', extra: 'btn-blue empty-style mt-2'} %} #}
        {% include "Norge/Front/Components/Button-secondary.html.twig" %}
    </div>
{% endblock %}




{% block content %}

    {# START - UKM FESTIVALEN 2022 #}

    {% set dag = "now"|date("d") %}
    {% set month = "now"|date("m") %}
    {% set year = "now"|date("Y") %}

    {% if dag > 16 and dag < 28 and month == 6 %}
        <!-- Modal -->
        <div class="modal fade" id="festivalen2022Modal" tabindex="-1" role="dialog" aria-labelledby="festivalen2022ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="icon-festivalen">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="70" height="70" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M23 7a8.44 8.44 0 0 0-5 1.31c-.36-.41-.73-.82-1.12-1.21l-.29-.27.14-.12a3.15 3.15 0 0 0 .9-3.49A3.9 3.9 0 0 0 14 1v2a2 2 0 0 1 1.76 1c.17.4 0 .84-.47 1.31l-.23.21a16.71 16.71 0 0 0-3.41-2.2c-2.53-1.14-3.83-.61-4.47 0a2.18 2.18 0 0 0-.46.68l-.18.53L5.1 8.87C6.24 11.71 9 16.76 15 18.94l5-1.66a1 1 0 0 0 .43-.31l.21-.18c1.43-1.44.51-4.21-1.41-6.9A6.63 6.63 0 0 1 23 9zm-3.79 8.37h-.06c-.69.37-3.55-.57-6.79-3.81-.34-.34-.66-.67-.95-1-.1-.11-.19-.23-.29-.35l-.53-.64-.28-.39c-.14-.19-.28-.38-.4-.56s-.16-.26-.24-.39-.22-.34-.31-.51-.13-.24-.19-.37-.17-.28-.23-.42-.09-.23-.14-.34-.11-.27-.15-.4S8.6 6 8.58 5.9s-.06-.24-.08-.34a2 2 0 0 1 0-.24 1.15 1.15 0 0 1 0-.26l.11-.31c.17-.18.91-.23 2.23.37a13.83 13.83 0 0 1 2.49 1.54A4.17 4.17 0 0 1 12 7v2a6.43 6.43 0 0 0 3-.94l.49.46c.44.43.83.86 1.19 1.27A5.31 5.31 0 0 0 16 13.2l2-.39a3.23 3.23 0 0 1 0-1.14c1.29 1.97 1.53 3.39 1.21 3.7zM4.4 11l-2.23 6.7A3.28 3.28 0 0 0 5.28 22a3.21 3.21 0 0 0 1-.17l6.52-2.17A18.7 18.7 0 0 1 4.4 11z"></path></svg>
                    </div>
                    <h1>Skal du på UKM-festivalen {{ year }}?</h1>
                    <p>Vi har samlet all informasjon på en egen festival-side</p>
                
                    <a type="button" href="/festivalen-arkiv-2023/" class="gaa-til-festivalen standard-btn btn-large d-flex justify-content-between btn-blue mt-2">
                        <span>Gå til UKM-festivalen {{ year }}</span>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(216, 33%, 97%)">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <style>
            #festivalen2022Modal {
                z-index: 999999;
            }
            #festivalen2022Modal .modal-dialog {
                max-width: 700px;
                height: 100%;
                padding: 0;
                margin: auto;
                display: flex;
            }
            #festivalen2022Modal .modal-dialog .modal-content {
                padding: 50px;
                text-align: center;
                display: flex;
                margin: auto;
            }
            #festivalen2022Modal .modal-dialog .modal-content .gaa-til-festivalen {
                margin-top: 40px !important;
                width: auto;
                margin: auto;
            }
            #festivalen2022Modal .modal-dialog .modal-content .icon-festivalen {
                margin: auto;
            }
            #festivalen2022Modal .modal-dialog .modal-content .close {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        </style>

        <script>
    
            if(!localStorage.getItem('festivalenSett')) {
                $('#festivalen2022Modal').modal('toggle');
                localStorage.setItem('festivalenSett', 1);
            }

        </script>
    {% endif %}

    {# END - UKM FESTIVALEN 2022 #}


    {% include "Norge/Front/Section/HvaEr.html.twig" %}
    {% include "Norge/Front/Section/Testimonial.html.twig" %}
    {#% include "Norge/Front/Section/TV.html.twig" %#}
    {% include "Norge/Front/Section/Nyheter.html.twig" %}
    {# {% include "Norge/Front/Section/NyheterLokalt.html.twig" %} #}
    {% include "Norge/Front/Section/Contact.html.twig" %}
    {# {% include "Norge/Front/Section/Komigang.html.twig" %} #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//assets.{{ UKM_HOSTNAME }}/js/page/front/testimonials.js"> </script>
{% endblock %}