<li class="nav-item">
  <a class="nav-link footerLinks" href="{{ pagelink|raw }}">
    <span class="breadcrumText"> {{ pagename|raw }}</span>
    {% include "Global/svg/chevron-blue.html.twig"%}
  </a>
</li>