<a type="button" href="/fylker/" class="standard-btn btn-large btn-blue btn-derdubor d-flex justify-content-between">
    <span>Finn UKM der du bor</span>
    {% include "UKMDesign/SVG/ChevronWhite.html.twig"%}
</a>
{# <a type="button" href="/fylker/" class="mt-4 standard-btn btn-large btn-blue d-block d-sm-none d-lg-none">
    <span>Finn UKM der du bor</span>
    {% include "UKMDesign/SVG/ChevronWhite.html.twig"%}
</a>
<a type="button" href="/fylker/" class="mt-5 standard-btn btn-large btn-blue d-none d-sm-block">
    <span>Finn UKM der du bor</span>
    {% include "UKMDesign/SVG/ChevronWhite.html.twig"%}
</a> #}