<a type="button" href="/fylker/" class="mt-4 ukm-button text ukm-button-primary d-block d-sm-none d-lg-none">
    <span>Finn UKM der du bor</span>
    {% include "UKMDesign/SVG/ChevronWhite.html.twig"%}
</a>
<a type="button" href="/fylker/" class="mt-5 ukm-button ukm-button-front text ukm-button-primary d-none d-sm-block">
    <span>Finn UKM der du bor</span>
    {% include "UKMDesign/SVG/ChevronWhite.html.twig"%}
</a>