<a href="//bak.{{ UKM_HOSTNAME }}" class="ukm-button ukm-button-front ukm-button-secondary">
	<span>Er du&nbsp;</span>
	<div class="slide-span">
		<span>voksen?</span>
		<span>fra bransjen?</span>
		<span>foresatt?</span>
		<span>presse?</span>
	</div>
</a>
