<div class="col-lg-4 d-flex justify-content-between flex-column">
    <div style=""><img style="height: 6rem; width: 6rem; border-radius: 50%;" src="//assets.{{ UKM_HOSTNAME }}/img/{{ img|raw }}" /></div>
    <h5 class="message-title" style="max-width: 12rem; font-size: 40px !important; line-height: 44px !important;">{{ title }}</h5>
    <span class="message-content" style="max-width: 19rem; font-size: 24px !important; line-height: 34px !important;">{{ content }}</span>
    <button type="button" class="ukm-button ukm-button-front ukm-button-secondary" style="padding: 0 !important; height: auto;">
        <span style="font: normal normal bold 20px/24px Roboto;">Les mer</span>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(228, 96%, 67%)">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
    </button>
</div>