<div class="col-4 d-flex justify-content-between flex-column">
    <div>
        <img class="message-img" src="//assets.{{ UKM_HOSTNAME }}/img/{{ img|raw }}" />
    </div>
    <h5 class="message-title">{{ title }}</h5>
    <span class="message-content">{{ content }}</span>
    <a type="button" class="ukm-button ukm-button-front ukm-button-secondary" style="padding: 0 !important; height: auto;">
        <span>Les mer</span>
        {% include "UKMDesign/SVG/ChevronBlue.html.twig"%}
    </a>
</div>