{# Mobile devices #}
<div class="container card-info-section d-block d-sm-none d-lg-none">
    <div class="ukm-card ukm-card-front col-xs-12">
        {% include "Norge/Front/Components/Card-element.html.twig" with { img: 'mennesker.svg" alt="mennesker"', title: 'Er UKM for meg?', content: 'Hør Rolf, Maria og Endre fortelle om sine opplevelser fra UKM' } %}
        {% include "Norge/Front/Components/Card-element.html.twig" with { img: 'rakett.svg" alt="rakett"', title: 'Hva skjer på UKM?', content: 'UKM tilbyr mye sosialt og moro uansett om du deltar eller ser på.'} %}
        {% include "Norge/Front/Components/Card-element.html.twig" with { img: 'kalender.svg" alt="kalender"', title: 'Arrangementer nær meg?', content: 'Hvordan du melder deg på UKM eller finner venners bidrag.'} %}
        {% include "Norge/Front/Components/Some-icon-section.html.twig" %}
    </div>
</div>

{# Desktop #}
<div class="container card-info-section d-none d-sm-block">
    <div class="row" style="height: 25.5rem;">
        {% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: 'mennesker.svg" alt="mennesker"', title: 'Er UKM for meg?', content: 'Hør Rolf, Maria og Endre fortelle om sine opplevelser fra UKM' } %}
        {% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: 'rakett.svg" alt="rakett"', title: 'Hva skjer på UKM?', content: 'UKM tilbyr mye sosialt og moro uansett om du deltar eller ser på.'} %}
        {% include "Norge/Front/Components/Card-element-desktop.html.twig" with { img: 'kalender.svg" alt="kalender"', title: 'Arrangementer nær meg?', content: 'Hvordan du melder deg på UKM eller finner venners bidrag.'} %}
    </div>
    
    {# Section med sosiale medier #}
    <div class="row some-title">
        <div class="col d-flex justify-content-center" style="border-top: 4px solid rgba(90, 102, 129, 0.05);">
            <span class="message-content" style="font-size: 24px !important; line-height: 28px !important; padding: 3rem;">Vi er aktive på sosiale media</span>
        </div>
    </div>
    {# Some-carousel #}
    {% include "Norge/Front/Components/Some-carousel.html.twig" %}
</div>