<div class="row card-element pt-4">
    <div class="col-xs-1 d-flex flex-wrap align-items-center">
        <img class="message-img" src="//assets.{{ UKM_HOSTNAME }}/img/{{ img|raw }}" />
    </div>
    <div class="col pr-1">
        <h5 class="message-title">{{ title }}</h5>
        <span class="message-content">{{ content }}</span>
    </div>
    <div class="col-xs-1 d-flex">
        <a href="#1" class="stretched-link align-self-center">
            {% include "Global/svg/chevron-gray.html.twig"%}
        </a>
    </div>
</div>