<link href="//assets.{{ UKM_HOSTNAME }}/css/components/card.css" rel="stylesheet">

<div class="container">
    <div class="ukm-card ukm-card-front col-xs-12">
        <div class="row card-element pt-4">
            <div class="col-xs-1 d-flex flex-wrap align-items-center">
                <svg style="height: 3.5rem; width: 3.5rem; border-radius: 50%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 334.17 370.97"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#e0ecfd;}.cls-4{fill:#00ff89;}.cls-5{fill:#0c6;}.cls-6{fill:#00004d;}</style><clipPath id="clip-path" transform="translate(-3.91 -0.52)"><rect class="cls-1" width="336" height="372"/></clipPath></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-3" d="M271.45,35.75C197.69,37.12,146.31-.14,110.77.53S.94,23,4,186.55,107.94,372.2,147,371.47C330.11,368.05,402.09,33.31,271.45,35.75Z" transform="translate(-3.91 -0.52)"/></g><path class="cls-4" d="M263.67,164.67a13.34,13.34,0,1,1-13.34-13.34,13.34,13.34,0,0,1,13.34,13.34Z" transform="translate(-3.91 -0.52)"/><path class="cls-4" d="M93,164.67a13.34,13.34,0,1,1-13.33-13.34A13.33,13.33,0,0,1,93,164.67Z" transform="translate(-3.91 -0.52)"/><path class="cls-4" d="M189,159.33a24,24,0,1,1-24-24,24,24,0,0,1,24,24Z" transform="translate(-3.91 -0.52)"/><path class="cls-4" d="M114.33,252.67v-16a21.33,21.33,0,0,1,21.34-21.34h58.66a21.33,21.33,0,0,1,21.34,21.34v16Z" transform="translate(-3.91 -0.52)"/><path class="cls-5" d="M157,215.33H135.67a21.33,21.33,0,0,0-21.34,21.34v16h21.34v-16A21.33,21.33,0,0,1,157,215.33Z" transform="translate(-3.91 -0.52)"/><path class="cls-5" d="M162.33,159.33a23.9,23.9,0,0,1,13.34-21.39A23.69,23.69,0,0,0,165,135.33a24,24,0,1,0,10.67,45.4,23.93,23.93,0,0,1-13.34-21.4Z" transform="translate(-3.91 -0.52)"/><path class="cls-6" d="M250.33,186a21.34,21.34,0,1,1,21.34-21.33A21.36,21.36,0,0,1,250.33,186Zm0-26.67a5.34,5.34,0,1,0,5.34,5.34,5.34,5.34,0,0,0-5.34-5.34Z" transform="translate(-3.91 -0.52)"/><path class="cls-6" d="M293,231.33H277V226a13.35,13.35,0,0,0-13.33-13.33H237v-16h26.67A29.35,29.35,0,0,1,293,226Z" transform="translate(-3.91 -0.52)"/><path class="cls-6" d="M79.67,186A21.34,21.34,0,1,1,101,164.67,21.36,21.36,0,0,1,79.67,186Zm0-26.67A5.34,5.34,0,1,0,85,164.67a5.35,5.35,0,0,0-5.33-5.34Z" transform="translate(-3.91 -0.52)"/><path class="cls-6" d="M53,231.33H37V226a29.35,29.35,0,0,1,29.33-29.33H93v16H66.33A13.35,13.35,0,0,0,53,226Z" transform="translate(-3.91 -0.52)"/><path class="cls-6" d="M165,191.33a32,32,0,1,1,32-32,32,32,0,0,1-32,32Zm0-48a16,16,0,1,0,16,16,16,16,0,0,0-16-16Z" transform="translate(-3.91 -0.52)"/><path class="cls-6" d="M223.67,252.67h-16v-16a13.36,13.36,0,0,0-13.34-13.34H135.67a13.36,13.36,0,0,0-13.34,13.34v16h-16v-16a29.36,29.36,0,0,1,29.34-29.34h58.66a29.36,29.36,0,0,1,29.34,29.34Z" transform="translate(-3.91 -0.52)"/></g></g></svg>
            </div>
            <div class="col pr-1">
                <h5 class="message-title">Er UKM for meg?</h5>
                <span class="message-content">Hør Rolf, Maria og Endre fortelle om sine opplevelser fra UKM</span>
            </div>
            <div class="col-xs-1 d-flex">
                <a href="#1" class="stretched-link align-self-center">
                    <svg class="icon icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(218, 81%, 94%)">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="row card-element">
            <div class="col-xs-1 d-flex flex-wrap align-items-center">
                <svg style="height: 3.5rem; width: 3.5rem; border-radius: 50%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 371.55 335.15"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#e0ecfd;}.cls-4{fill:#f3f3f1;}.cls-5{fill:#ff118a;}.cls-6{fill:#d5dbe1;}.cls-7{fill:#e51085;}.cls-8{fill:#00004d;}</style><clipPath id="clip-path" transform="translate(-0.22 -0.43)"><rect id="SVGID" class="cls-1" width="372" height="336"/></clipPath></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-3" d="M333.55,65.36c0,73.78,38.22,124.44,38.22,160s-20.44,110.21-184,110.21S.22,235.13.22,196C.22,12.91,333.55-65.31,333.55,65.36Z" transform="translate(-0.22 -0.43)"/></g><path class="cls-4" d="M233.81,182.76A107.77,107.77,0,0,1,202.27,259l-.32.32-6.12-42.7Z" transform="translate(-0.22 -0.43)"/><path class="cls-4" d="M171.24,120.19A107.77,107.77,0,0,0,95,151.73l-.32.32,42.71,6.12Z" transform="translate(-0.22 -0.43)"/><path class="cls-5" d="M170.53,121l-43,48.13,57.33,57.34,48.13-43c33-28.16,56.68-74.84,55.66-118.17-43.33-1-90,22.71-118.15,55.67Zm51,11.46a16,16,0,1,1,22.59,0,16,16,0,0,1-22.59,0Z" transform="translate(-0.22 -0.43)"/><path class="cls-5" d="M136.19,248.87c-8.57,8.58-52.91,21.85-52.91,21.85s13.27-44.34,21.85-52.91a22,22,0,0,1,31.06,31.06Z" transform="translate(-0.22 -0.43)"/><path class="cls-6" d="M216.38,216.58l15.51-13.82a107.51,107.51,0,0,0,1.92-20l-38,33.82,6.12,42.7.32-.32a107.17,107.17,0,0,0,17-22.32Z" transform="translate(-0.22 -0.43)"/><path class="cls-6" d="M115.27,152.05l.31-.32a107.6,107.6,0,0,1,53.43-29l2.23-2.5A107.77,107.77,0,0,0,95,151.73l-.32.32,42.71,6.12,2.32-2.61Z" transform="translate(-0.22 -0.43)"/><path class="cls-7" d="M125.67,217.81a21.72,21.72,0,0,1,5.26-3.77,21.86,21.86,0,0,0-25.8,3.77c-8.58,8.57-21.85,52.91-21.85,52.91s10.89-3.27,22.93-7.6c4.21-13,13.12-39,19.46-45.31Z" transform="translate(-0.22 -0.43)"/><path class="cls-7" d="M147,169.11l43-48.13c24-28.07,61.4-49.38,98.74-54.48,0-.39,0-.79,0-1.19-43.34-1-90,22.7-118.17,55.66l-43,48.13,57.33,57.34,10.25-9.15Z" transform="translate(-0.22 -0.43)"/><path class="cls-8" d="M184.89,233.29a6.82,6.82,0,0,1-4.84-2L167.47,218.7l9.68-9.68,8,8,43.31-38.66c31-26.51,51.84-68.36,53.32-106.15-37.79,1.49-79.63,22.29-106,53.21L137,168.84l28.56,28.56-9.69,9.69L122.72,174a6.84,6.84,0,0,1-.27-9.4l43-48.13c30.43-35.62,79.83-58.93,123.44-57.95a6.84,6.84,0,0,1,6.68,6.68c1,43.35-22.32,93-58.06,123.53l-48,42.87a6.83,6.83,0,0,1-4.57,1.74Z" transform="translate(-0.22 -0.43)"/><path class="cls-8" d="M202,266a6.28,6.28,0,0,1-2-.32,6.81,6.81,0,0,1-4.76-5.37l-6.12-42.71,13.55-1.94,4,27.92A100.11,100.11,0,0,0,227,182.77h13.7a113.85,113.85,0,0,1-33.55,81A7.45,7.45,0,0,1,202,266Z" transform="translate(-0.22 -0.43)"/><path class="cls-8" d="M136.46,164.94l-42.71-6.11a6.85,6.85,0,0,1-3.83-11.66,114.06,114.06,0,0,1,81.32-33.84V127a100.23,100.23,0,0,0-60.82,20.34l28,4Z" transform="translate(-0.22 -0.43)"/><path class="cls-8" d="M232.87,144A22.82,22.82,0,1,1,249,137.27,22.73,22.73,0,0,1,232.87,144Zm0-31.94a9.14,9.14,0,1,0,6.44,2.68,9,9,0,0,0-6.44-2.68Z" transform="translate(-0.22 -0.43)"/><path class="cls-8" d="M83.28,277.57a6.86,6.86,0,0,1-6.56-8.82C79,261.07,91,222.28,100.3,213c10.89-10.88,29.87-10.87,40.74,0a28.81,28.81,0,0,1,0,40.75C131.72,263,92.92,275,85.25,277.29a7,7,0,0,1-2,.28Zm37.39-59.34A15.07,15.07,0,0,0,110,222.65c-4,4-10.84,21.58-16.17,37.55,16-5.34,33.56-12.2,37.54-16.18a15.11,15.11,0,0,0-10.68-25.79Z" transform="translate(-0.22 -0.43)"/></g></g></svg>
            </div>
            <div class="col pr-1">
                <h5 class="message-title">Hva skjer på UKM?</h5>
                <span class="message-content">UKM tilbyr mye sosialt og moro uansett om du deltar eller ser på</span>
            </div>
            <div class="col-xs-1 d-flex">
            <a href="#2" class="stretched-link align-self-center">
                <svg class="icon icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(218, 81%, 94%)">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
            </a>
            </div>
        </div>
        <div class="row card-element pb-4">
            <div class="col-xs-1 d-flex flex-wrap align-items-center">
                <svg style="height: 3.5rem; width: 3.5rem; border-radius: 50%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 335.15 371.55"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#e0ecfd;}.cls-4{fill:#fff056;}.cls-5{fill:#f3f3f1;}.cls-6{fill:#e5d145;}.cls-7{fill:#d5dbe1;}.cls-8{fill:#00004d;}</style><clipPath id="clip-path" transform="translate(-0.43 -0.22)"><rect id="SVGID" class="cls-1" width="336" height="372"/></clipPath></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-3" d="M65.35,333.55c73.79,0,124.45,38.22,160,38.22s110.22-20.44,110.22-184S235.12.22,196,.22C12.91.22-65.31,333.55,65.35,333.55Z" transform="translate(-0.43 -0.22)"/></g><path class="cls-4" d="M283.52,121.16v37.16h-209V121.16a18.64,18.64,0,0,1,18.58-18.58H264.94a18.64,18.64,0,0,1,18.58,18.58Z" transform="translate(-0.43 -0.22)"/><path class="cls-5" d="M283.52,158.32V274.45A18.64,18.64,0,0,1,264.94,293H93.06a18.64,18.64,0,0,1-18.58-18.58V158.32Z" transform="translate(-0.43 -0.22)"/><path class="cls-6" d="M114,102.58H93.06a18.64,18.64,0,0,0-18.58,18.58v37.16H95.39V121.16A18.63,18.63,0,0,1,114,102.58Z" transform="translate(-0.43 -0.22)"/><path class="cls-7" d="M95.39,274.45V158.32H74.48V274.45A18.64,18.64,0,0,0,93.06,293H114a18.63,18.63,0,0,1-18.58-18.58Z" transform="translate(-0.43 -0.22)"/><path class="cls-8" d="M283.52,165.29h-209a7,7,0,0,1-7-7V121.16A25.57,25.57,0,0,1,93.06,95.61H264.94a25.57,25.57,0,0,1,25.54,25.55v37.16a7,7,0,0,1-7,7ZM81.45,151.35h195.1V121.16a11.63,11.63,0,0,0-11.61-11.61H93.06a11.63,11.63,0,0,0-11.61,11.61Z" transform="translate(-0.43 -0.22)"/><path class="cls-8" d="M264.94,300H93.06a25.56,25.56,0,0,1-25.54-25.55V158.32a7,7,0,0,1,7-7h209a7,7,0,0,1,7,7V274.45A25.56,25.56,0,0,1,264.94,300ZM81.45,165.29V274.45a11.63,11.63,0,0,0,11.61,11.61H264.94a11.63,11.63,0,0,0,11.61-11.61V165.29Z" transform="translate(-0.43 -0.22)"/><rect class="cls-8" x="113.54" y="83.78" width="13.94" height="41.81"/><rect class="cls-8" x="229.67" y="83.78" width="13.94" height="41.81"/></g></g></svg>
            </div>
            <div class="col pr-1">
                <h5 class="message-title">Arrangementer nær meg</h5>
                <span class="message-content">Hvordan du melder deg på UKM eller finner venners bidrag</span>
            </div>
            <div class="col-xs-1 d-flex">
                <a href="#3" class="stretched-link align-self-center">
                    <svg class="icon icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsl(218, 81%, 94%)">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>

        {# Section med sosiale medier #}
        <div class="row some-title">
            <div class="col">
                <span class="message-content">Vi er aktive på sosiale media</span>
            </div>
        </div>

        {# Some-carousel #}
        {% include "Norge/Front/Components/Some-carousel.html.twig" %}
    </div>
</div>