<li class="some-item some-item-small list-group-item">
    <a href="{{ link }}" aria-label="{{ name }}">
        <span class="dot svg-dot {{ exception }}">
            {{ svg|raw }}
        </span>
    </a>
</li>