<link href="//assets.{{ UKM_HOSTNAME }}/scss/components/header.scss" rel="stylesheet">

<header class="header">
    <div class="row">
        <div class="col"> 
            <a href="#ukm" class="clickable" href=""><img class="ukm-logo" src="//assets.{{ UKM_HOSTNAME }}/img/ukm.png" /></a>
        </div>
        <div class="col text-right">
            <a href="#login" class="sign-in clickable"><span>logg inn</span></a>
            <a href="#menu" class="toggle-burger clickable"> {# Blir kanskje en button senere... #}
                <svg width="1.75rem" height="1rem" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="hsla(223, 54%, 97%)">
                    <path fill-rule="evenodd" d="M3 7a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 13a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>
</header>