<header>
    <div class="container-fluid ukm-bolge ukm-bolge-front">
        <div class="div-radius div-radius-tint"></div>
        <div class="div-radius"></div>

        {# Header-section #} 
        {% include "Norge/Front/Components/Navbar.html.twig" %}

        {# Front-video #}
        <div class="hero-text-section">
            <h1 class="hero-text">En møteplass for kreativ ungdom</h1>
            <h3 class="hero-text-lead">UKM handler om å ha det gøy gjennom å skape noe sammen.</h3>
        </div>

        <div class="background-space"></div>
    </div>

    {# Front-buttons #}
    <div class="front-buttons">
        {% include "Norge/Front/Components/Button.html.twig" %}
        {% include "Norge/Front/Components/Button-secondary.html.twig" %}
    </div>
</header>