{# Section med sosiale medier #}
<div class="row some-title">
    <div class="col">
        <span class="message-content">Sjekk ut UKM på sosiale medier</span>
    </div>
</div>

{# Some-carousel #}
{% include "Norge/Front/Components/Some-carousel.html.twig" %}