{% extends "Page/Fullpage.html.twig"|UKMpath %}

{% block content %}
	<div class="container clearfix">
		<div class="row">
			<div class="col-12 col-lg-6 float-lg-left mb-5">
				{% if infoside is defined %}
					{% include "Front/Part/Infoside.html.twig" %}
				{% endif %}
				<div class="mt-4">
					{% include "Fylke/VelgKommune.html.twig" %}
				</div>
			</div>

			<div class="col-12 col-md-6 float-md-right order-md-2 order-lg-1 col-lg-5 offset-lg-1 float-lg-right mb-5">
				{% include "Front/Part/Arrangementer.html.twig" %}
                
				<div class="mt-4">
					{% include "Front/Part/Kontakt.html.twig" with { kontaktpersoner: omrade.getKontaktpersoner() } %}
				</div>

                {% if menu is defined %}
                    <div class="mt-4">
                        {% include "Front/Part/Meny.html.twig" %}
                    </div>
                {% endif %}
			</div>

			{% if posts.getAntall() > 0 %}
				<div class="col-12 col-md-6 order-md-1 col-lg-12">
					<h3 class="mb-3 mt-0">Nyheter fra UKM
						{{ omrade.getNavn() }}</h3>
					{% include "Front/Part/Nyheter.html.twig" with { col: 'col-6 col-lg-3', posts: posts.getAll()|slice(0,4)} %}

				</div>
				<div class="col-12 order-md-4 mb-5">
					{% include "Front/Part/Nyheter.html.twig" with { col: 'col-6 col-md-3', posts: posts.getAll()|slice(4)} %}
					{% embed "Kategori/Pagination.html.twig"|UKMpath %}{% endembed %}
				</div>
			{% endif %}
		</div>
		<div class="clearfix"></div>
		{% if not skjulHvaErUKM %}
            <div class="row">
                <div class="col-12 col-md-12 mb-5">
                    {% include "Front/Part/HvaEr.html.twig" %}
                </div>
            </div>
        {% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//assets.{{ UKM_HOSTNAME }}/js/page/fylke.js" ></script>
{% endblock %}