
{% extends "UKMDesign/Layout/base.html.twig"|UKMpath %}

{% set showHero = true %}

{% block hero %}
	<h1>High-level concept pitch</h1>
	{# <h3>UKM handler om å ha det gøy gjennom å skape noe sammen.</h3> #}
	<div class="background-space"></div>
{% endblock %}

{# {% block hero_cta %}
	<div class="front-buttons">
		{% include "Norge/Front/Components/Perfect-button.html.twig" with {title: 'Gå til påmeldingssiden', path: '/fylker/', extra: 'mt-2'} %}
		{% include "Norge/Front/Components/Button-secondary.html.twig" %}
	</div>
{% endblock %} #}

{% block content %}
	{% include "TestOrganisasjonen/Section/Filter.html.twig" %}
	{% include "TestOrganisasjonen/Section/Info.html.twig" %}
	{% include "TestOrganisasjonen/Section/Samarbeid.html.twig" %}
	{% include "TestOrganisasjonen/Section/Prosjekter.html.twig" %}
	{% include "TestOrganisasjonen/Section/Hvemervi.html.twig" %}

	{# {% include "Norge/Front/Section-org/Samarbeid.html.twig" %} #}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# <script src="//assets.{{ UKM_HOSTNAME }}/js/page/front/testimonials.js"></script> #}
{% endblock %}