{% block content %}
    {% if innslag %}
        {% include "Arrangement/Innslag.html.twig" %}
        <div class="container">
            <h1>Hello world!</h1>
        </div>
    {% else %}
        <h4>
            Ugyldig lenke!
        </h4>
    {% endif %}
    
{% endblock %}