{% block content %}
    {% if innslag %}
        {% include "Arrangement/Innslag.html.twig" %}
        <div class="container">
            <h1>Hello world!</h1>
        </div>

        <div class="container">
            <div class="grid_post_image" style="background-image: url('{{post.image.url}}');"></div>
            <h2>{{post.title|raw}}</h2>
            <p class="lead">{{ post.lead|raw }}</p>
            {{post.content|raw}}
        </div>
    {% else %}
        <h4>
            Ugyldig lenke!
        </h4>
    {% endif %}
    
{% endblock %}