{% extends "UKMDesign/Page/Page.html.twig"|UKMpath %}

{% block page_image %}
	{% embed "Page/TopImage.html.twig"|UKMpath %}{% endembed %}
{% endblock %}

{% block page_content %}
	<article>
		{% include "Page/Title.html.twig" %} 
		{{ page.content|raw }}
	</article>
{% endblock %}

{% block page_menu %}
	{% if page.hasMenu() %}
		<div class="col-12 col-md-10 col-lg-3 ml-md-auto mr-md-auto mt-5">
			{% for element in meny %}
				<a href="{{ element.url }}" class="btn btn-{{ element.object_id == page.getPage().ID ? '' : 'outline-' }}primary btn-block btn-sm">
					{{ element.title }}
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block page_blocks %}
	{% if page.hasPageBlocks() %}
		{% for section in page.getPageBlocks().getAll() %}
			{% embed ("UKMDesign/PageBlock/"~ section.getTemplate() ~".html.twig")|UKMpath with{ block: section } %}{% endembed %}
		{% endfor %}
	{% endif %}
{% endblock %}