{% extends "Page/Fullpage.html.twig"|UKMpath %}

{% block content %}
	{% embed "UKMDesign/Layout/header.html.twig"|UKMpath %}{% endembed %}
	{% include "Arrangement/Front/Banner.html.twig" %}
	<div class="container clearfix">
		<div class="row">
			<div class="col-12 col-md-6 order-md-2 col-lg-5 offset-lg-1 mb-5">
				{% if infoside is defined %}
					<div class="mb-5 d-md-none">
						{% include "Front/Part/Infoside.html.twig" %}
					</div>
				{% endif %}
				<div class="mb-4">
					{% include "Arrangement/Pamelding.html.twig" %}
				</div>
				<div class="mb-4">
					{% include "Arrangement/Meny.html.twig" %}
				</div>
				{% include "Front/Part/Kontakt.html.twig" with { kontaktpersoner: arrangement.getKontaktpersoner() } %}
                {% include "Arrangement/MenyEiere.html.twig" %}

                {% if menu is defined %}
                    <div class="mt-4">
                        {% include "Front/Part/Meny.html.twig" %}
                    </div>
                {% endif %}
			</div>

			<div class="col-12 col-md-6 order-md-1">
                <div class="mb-5 d-none d-md-block">
                    {% include "Front/Part/Infoside.html.twig" with {expand:true} %}
                </div>
			</div>
		</div>
		{% if not skjulHvaErUKM %}
            <div class="row">
                <div class="col-12 col-md-12 mb-5">
                    {% include "Front/Part/HvaEr.html.twig" %}
                </div>
            </div>
        {% endif %}
	</div>
{% endblock %}
