<h3 class="mt-0">Legg igjen mobilnummeret ditt?</h3>
<p>
	{{ omrade.getNavn() }} har ikke registrert noen kommende arrangement akkurat nå.
    Hvis du legger igjen mobilnummeret ditt, sender vi en gratis sms så fort vi vet mer.
</p>

{% if omrade.getType() == 'kommune' %}
    {% include "UKMDesign/Husk/Form.html.twig" with { fylkeid: omrade.getKommune().getFylke().getId(), kommuneid: omrade.getKommune().getId() } %}
{% elseif omrade.getEierType() == 'fylke' %}
    {% include "UKMDesign/Husk/Form.html.twig" with { fylkeid: omrade.getFylke().getId() } %}
{% else %}
    {% include "UKMDesign/Husk/Form.html.twig" with { fylkeid: omrade.getFylke().getId() } %}
{% endif %}
